.container-collections {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    height: fit-content;
}

.collections-title {
    margin-left: 20px;
}

.collections-description {
    margin-left: 20px;
    color: #6b7280;
}
