.featured-products{
    display: flex;
    overflow-x: auto;
    padding: 20px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 20px;
}

.section-title {
    display: block;
}

.featured-products-title {
    margin-left: 20px;
    margin-top: 20px;
}

.featured-products-description {
    margin-left: 20px;
    color: #6b7280;
}
