body {
    margin: 0px;
    border: 0px;
    background-color: #222;
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100dvh;
}

.container-followCards {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
